# Compiled Object files
*.slo
*.lo
*.o
*.out

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# runtime files
*.log
gdb.txt

# visual studio stuff
Debug
ipch
*.opensdf
*.sdf
*.suo
*.filters
*.user
Release
*.ncb
UpgradeLog.XML
UpgradeReport.css
UpgradeReport.xslt
UpgradeReport_Minus.gif
UpgradeReport_Plus.gif
school-PG.sln.old

bin
lib
dist
obj
**/bin
**/lib
**/dist
**/obj

# various
clp-fcd-generator/clpfcdgen
clp-fcd-generator/test.sh
clpromgen/beautyOutput
clpromgen/beautyOutput2
clpromgen/clpromgen
clpromgen/output
greedyfood/log
huffmanGenerateForCPP/HuffmanForCPP.txt
khathonscripts/convert.sh
minifloat/log
minifloat/notes
sedShenanigans/tests/
