# Compiled Object files
*.slo
*.lo
*.o
*.out

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# runtime files
*.log
gdb.txt

# visual studio stuff
Debug
ipch
/UglyListTest/*.opensdf
/UglyListTest/*.sdf
/UglyListTest/*.suo
/UglyListTest/*.filters
/UglyListTest/*.user
Release
